In [42]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
data = pd.read_csv("language.csv")

In [43]:
data.head()

                                                Text  language
0  klement gottwaldi surnukeha palsameeriti ning ...  Estonian
1  sebes joseph pereira thomas  på eng the jesuit...   Swedish
2  ถนนเจริญกรุง อักษรโรมัน thanon charoen krung เ...      Thai
3  விசாகப்பட்டினம் தமிழ்ச்சங்கத்தை இந்துப் பத்திர...     Tamil
4  de spons behoort tot het geslacht haliclona en...     Dutch

In [44]:
data.isnull().sum()

Text        0
language    1
dtype: int64

In [45]:
data.dropna(inplace=True)

In [46]:
data.isnull().sum()

Text        0
language    0
dtype: int64

In [47]:
data["language"].value_counts()

Dutch         861
French        856
Indonesian    856
Russian       854
Latin         850
English       845
Chinese       844
Swedish       843
Tamil         843
Japanese      842
Korean        841
Pushto        841
Portugese     840
Hindi         840
Urdu          840
Thai          839
Persian       838
Estonian      838
Arabic        837
Romanian      834
Spanish       834
Turkish       824
Name: language, dtype: int64

In [48]:
x = np.array(data["Text"])
y = np.array(data["language"])
cv = CountVectorizer()
X = cv.fit_transform(x)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [49]:
model = MultinomialNB()
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.9509723811080242

In [ ]:
user = input("Enter a Text: ")
data = cv.transform([user]).toarray()
output = model.predict(data)
print(output)